.we-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh; 
  background-color: gray;
  color: white;
}

.we-container h2.title {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.we-container h2.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: yellow;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.paragraphs {
  text-align: center;
  margin: 10px 0;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
