.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(238, 210, 210);
  color: #fff;
  padding: 1rem 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
}
