.do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  
  .do-container h2 {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
  }

.do-container h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: yellow;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .container p {
    margin: 0;
  }
  
  .do-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .do-section {
    width: calc(50% - 20px);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .do-section h5 {
    margin: 0;
    font-size: 18px;
  }
  
  .do-section p {
    margin-top: 8px;
  }
  
  .do-section button {
    margin-top: 12px;
  }

  
  